<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <img src="assets/images/logo-light.png" alt="logo" class="mt-5 mx-auto">
    </div>
    <div class="mt-4 container text-center text-width">
        <p>A weather app that provides accurate and up-to-date weather information for users.</p>
        <div class="mt-5 social-icons">
            <i class="bi bi-facebook fs-3 me-3"></i>
            <i class="bi bi-twitter fs-3 me-3"></i>
            <i class="bi bi-instagram fs-3 me-3"></i>
            <i class="bi bi-linkedin fs-3"></i>
        </div>

        <nav class="mt-5 mb-3">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">Home</a></li>
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">News</a></li>
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">Map</a></li>
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">Pictures</a></li>
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">Videos</a></li>
                <li class="list-inline-item"><a href="#" class="fs-5 text-white text-decoration-none">Contact Us</a></li>
            </ul>
        </nav>
        <p class="mt-5 fs-6">&copy;2023 WeatherPro, All Rights Reserved.</p>
    </div>
</footer>